<html>
    <head></head>
    <body>
        <form action="/addemp" method="post">
            Emp id: <input type="text" name="empid" id="empid"
            placehoder="Enter empid"><br>
            Emp name: <input type="text" name="ename" id="ename"
            placehoder="Enter ename"><br>
            Emp sal: <input type="text" name="sal" id="sal"
            placehoder="Enter sal"><br>
            <button type="submit" name="btn" id="btn" value="btn">Add new Employee</button>
        </form>
    </body>
</html>